img{
    height: 100%;
    width: 100%;
}
.header-image{
    height: 400px;
    margin-bottom: 5px;
}
.main-sec{
    height: 400px;
    display: flex;
    gap: 5px;
}
.main-sec > div{
    flex: 1;
}
.double-sec img{

    height: calc((100%-5px)/2);

}
.footer-sec{
    display: flex;
    height: 400px;
    gap: 5px;
    margin-top: 5px;
}
.footer-sec>div{
    flex:1;
}
.squire-collage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}


@media screen and (max-width:576px) {
    .main-sec{
        flex-direction: column;
        height: auto;
    }
    .footer-sec{
        flex-direction: column;
        height: auto;
    }
    .footer-sec>div{
        flex-direction: column;
        height: auto;
    }
    .squire-collage{
        grid-template-columns: 1fr;
    }
}